retriever/src/main/resources/MOS070MI.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmha.com.au/MOS070MI" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:ns1="http://www.tmha.com.au/MOS070MI/UpdOperation" xmlns:lws="http://lawson.com/ws/credentials" name="MOS070MIService" targetNamespace="http://www.tmha.com.au/MOS070MI">
  <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:updoperation="http://www.tmha.com.au/MOS070MI/UpdOperation" elementFormDefault="qualified" targetNamespace="http://www.tmha.com.au/MOS070MI/UpdOperation">
  <xsd:annotation>
    <xsd:documentation>Api: Maintenance time report interface Transaction: Update operation</xsd:documentation>
  </xsd:annotation>
  <xsd:element name="UpdOperation" type="updoperation:UpdOperationCollection"/>
  <xsd:complexType name="UpdOperationCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="UpdOperationItem" type="updoperation:UpdOperationItem"/>
    </xsd:sequence>
    <xsd:attribute default="100" name="maxRecords" type="xsd:int" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="UpdOperationItem">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="CONO" nillable="true" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Company (CONO)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MWNO" nillable="false">
        <xsd:annotation>
          <xsd:documentation>Work order number (MWNO)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="OPNO" nillable="false" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Operation number (OPNO)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="RPDT" nillable="true" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Reporting date (RPDT)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="RTM1" nillable="true" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Reporting time (RTM1)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="RPRE" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Responsible for reporting (RPRE)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="EMNO" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Employee number (EMNO)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="UMAS" nillable="true" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Used labor setup time (UMAS)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="UMAT" nillable="true" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Used labor run time (UMAT)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="UPIT" nillable="true" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Used machine run time (UPIT)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="USET" nillable="true" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Used machine setup time (USET)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="REND" nillable="true" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Manual completion flag (REND)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="MAQA" nillable="true" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Manufactured quantity (MAQA)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="SCQA" nillable="true" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Scrap quantity alternative unit (SCQA)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="SCRE" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Rejection reason (SCRE)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="DPLG" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Deviating work center (DPLG)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="8"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="PCTP" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Costing type (PCTP)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="FCLA" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Failure class (FCLA)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="5"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="FCL2" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Error code 2 (FCL2)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="5"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="FCL3" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Error code 3 (FCL3)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="5"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="DOWT" nillable="true" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Downtime (DOWT)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="DLY1" nillable="true" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Delay time 1 (DLY1)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="DLY2" nillable="true" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Delay time 2 (DLY2)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="TXL1" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Text (TXL1)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="TXL2" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Text (TXL2)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="EQNO" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Equipment number (EQNO)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="STRT" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Product structure type (STRT)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="SUFI" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Service (SUFI)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="TXID" nillable="true" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Text Identity (TXID)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="CLBL" nillable="true" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Close Blanket (CLBL)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="INFR" nillable="true" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Injury free (INFR)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="REMK" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Remark (REMK)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="LCDE" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Labor charge code (LCDE)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="6"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="UpdOperationResponse" type="updoperation:UpdOperationResponseCollection"/>
  <xsd:complexType name="UpdOperationResponseCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="UpdOperationResponseItem"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>  <xsd:schema elementFormDefault="qualified" targetNamespace="http://lawson.com/ws/credentials"><xsd:element name="lws"><xsd:complexType><xsd:sequence><xsd:element minOccurs="0" name="company" type="xsd:integer"/><xsd:element minOccurs="0" name="division" type="xsd:string"/></xsd:sequence></xsd:complexType></xsd:element></xsd:schema></wsdl:types>
  <wsdl:message name="UpdOperationResponse">
    <wsdl:part element="ns1:UpdOperationResponse" name="UpdOperationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdOperation">
    <wsdl:part element="ns1:UpdOperation" name="UpdOperation">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MOS070MI">
    <wsdl:operation name="UpdOperation">
      <wsdl:input message="tns:UpdOperation" name="UpdOperation">
    </wsdl:input>
      <wsdl:output message="tns:UpdOperationResponse" name="UpdOperationResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MOS070MIServiceSoapBinding" type="tns:MOS070MI">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="UpdOperation">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="UpdOperation">
        <soap:body use="literal"/>
      <header message="tns:LwsHeaderMessage" part="LwsHeader" use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/></wsdl:input>
      <wsdl:output name="UpdOperationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MOS070MIService">
    <wsdl:port binding="tns:MOS070MIServiceSoapBinding" name="MOS070MIPort">
      <soap:address location="http://erp-m3.tica.toyota-industries.com.au:21007/mws-ws/services/MOS070MI"/>
    </wsdl:port>
  </wsdl:service>
<message name="LwsHeaderMessage" xmlns="http://schemas.xmlsoap.org/wsdl/"><part element="lws:lws" name="LwsHeader"/></message></wsdl:definitions>