retriever/src/main/resources/MOS195MI.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tmha.com.au/MOS195MI" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:ns1="http://www.tmha.com.au/MOS195MI/SelWoElem" xmlns:lws="http://lawson.com/ws/credentials" name="MOS195MIService" targetNamespace="http://www.tmha.com.au/MOS195MI">
  <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:selwoelem="http://www.tmha.com.au/MOS195MI/SelWoElem" elementFormDefault="qualified" targetNamespace="http://www.tmha.com.au/MOS195MI/SelWoElem">
  <xsd:annotation>
    <xsd:documentation>Api: API: Search WO Operation Transaction: Select WO element for employee</xsd:documentation>
  </xsd:annotation>
  <xsd:element name="SelWoElem" type="selwoelem:SelWoElemCollection"/>
  <xsd:complexType name="SelWoElemCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="SelWoElemItem" type="selwoelem:SelWoElemItem"/>
    </xsd:sequence>
    <xsd:attribute default="100" name="maxRecords" type="xsd:int" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="SelWoElemItem">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="Company" nillable="true" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Company (CONO)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Facility" nillable="false">
        <xsd:annotation>
          <xsd:documentation>Facility (FACI)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="StatusFROM" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Status FROM (STFR)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="StatusTo" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Status to (STTO)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="WorkCenter" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Work center (PLGR)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="8"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="Department" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Department (DEPT)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="8"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="PlanningArea" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Planning area (REAR)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="8"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="StartDate" nillable="true" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Start date (STDT)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="StartDateSTD2" nillable="true" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Start date (STD2)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="FinishDate" nillable="true" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Finish date (FIDT)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="FinishDateFID2" nillable="true" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Finish date (FID2)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="EntryDate" nillable="true" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Entry date (RGDT)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="EntryDateRGD2" nillable="true" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Entry date (RGD2)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="ItemNumber" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Item number (ITNO)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="LotNumber" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Lot number (BANO)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="EquipmentNumber" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Equipment number (EQNO)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="ConfigurationPosition" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Configuration position (CFGL)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="Service" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Service (SUFI)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="EventType" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Event type (EVTY)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="Shutdown" nillable="true" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Shutdown (NSTP)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="OrderType" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Order type (ORTY)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="ProductNumber" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Product number (PRNO)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="WorkOrderNumber" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Work order number (MWNO)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="EmployeeNumber" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Employee number (EMNO)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="ChangedBy" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Changed by (CHID)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="Responsible" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Responsible (RESP)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="StatusMobility" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Status mobility (STMF)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="StatusMobilitySTMT" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Status mobility (STMT)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="OperationElementType" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Operation element type (ACTF)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="OperationElementTypeACTT" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Operation element type (ACTT)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="OperationNumber" nillable="true" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Operation number (OPNO)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SelWoElemResponse" type="selwoelem:SelWoElemResponseCollection"/>
  <xsd:complexType name="SelWoElemResponseCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="SelWoElemResponseItem" type="selwoelem:SelWoElemResponseItem"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SelWoElemResponseItem">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="TaskElementNumber" nillable="true" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Task element number (ACTS)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="OperationElementType" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Operation element type (ACTT)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="EquipmentDescription" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Equipment description (ALII)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="40"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="LotNumber" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Lot number (BANO)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="Complaint" nillable="true" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Complaint (DEID)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="EmployeeNumber" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Employee number (EMNO)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="EquipmentNumber" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Equipment number (EQNO)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="Facility" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Facility (FACI)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="EventType" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Event type (EVTY)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="ErrorCode2" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Error code 2 (FCL2)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="5"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="ErrorCode3" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Error code 3 (FCL3)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="5"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="ErrorCode1" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Error code 1 (FCLA)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="5"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="ItemNumber" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Item number (ITNO)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="FinishDate" nillable="true" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Finish date (FIDT)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="FinishTime" nillable="true" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Finish time (MFTI)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="SequenceNumber" nillable="true" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Sequence number (MSEQ)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="WorkOrderNumber" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Work order number (MWNO)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="OperationNumber" nillable="true" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Operation number (OPNO)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="OrderType" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Order type (ORTY)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="StartTime" nillable="true" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Start time (MSTI)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="OperationDescription" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Operation description (OPDS)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="ProductNumber" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Product number (PRNO)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="Responsible" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Responsible (RESP)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="ReferenceOrderCategory" nillable="true" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Reference order category (RORC)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="ReferenceOrderLine" nillable="true" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Reference order line (RORL)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="ReferenceOrderNumber" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Reference order number (RORN)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="LineSuffix" nillable="true" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Line suffix (RORX)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="RequestedFinishDate" nillable="true" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Requested finish date (RRFD)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="RequestedFinishTime" nillable="true" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Requested finish time (RRFT)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="RequestedStartDate" nillable="true" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Requested start date (RRSD)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="RequestedStartTime" nillable="true" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Requested start time (RRST)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="Subprocess" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Subprocess (SBPR)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="StartDate" nillable="true" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Start date (STDT)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="StatusMobility" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Status mobility (STMB)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="ProductStructureType" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Product structure type (STRT)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="Service" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Service (SUFI)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="SupplierNumber" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Supplier number (SUNO)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="RegistrationNumberSite" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Registration number/site (TAIL)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="TextIdentity" nillable="true" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Text identity (TXID)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="TextLine1" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Text line 1 (TXT1)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="Warehouse" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Warehouse (WHLO)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="Location" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Location (WHSL)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="StatusManufacturingOrder" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Status - manufacturing order (WHST)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="MaterialStatus" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Material status (WMST)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="Status" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Status (WOST)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="ReportingNumber" nillable="true" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Reporting number (WOSQ)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="EntryTime" nillable="true" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Entry time (RGTM)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="EntryDate" nillable="true" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Entry date (RGDT)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="Priority" nillable="true" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Priority (PRIO)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="Process" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Process (PRSS)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="WorkCenter" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Work center (PLGR)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="8"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="MandatoryServiceErrorReport" nillable="true" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Mandatory Service Error Report (MSER)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="Department" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Department (DEPT)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="8"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>  <xsd:schema elementFormDefault="qualified" targetNamespace="http://lawson.com/ws/credentials"><xsd:element name="lws"><xsd:complexType><xsd:sequence><xsd:element minOccurs="0" name="company" type="xsd:integer"/><xsd:element minOccurs="0" name="division" type="xsd:string"/></xsd:sequence></xsd:complexType></xsd:element></xsd:schema></wsdl:types>
  <wsdl:message name="SelWoElemResponse">
    <wsdl:part element="ns1:SelWoElemResponse" name="SelWoElemResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SelWoElem">
    <wsdl:part element="ns1:SelWoElem" name="SelWoElem">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MOS195MI">
    <wsdl:operation name="SelWoElem">
      <wsdl:input message="tns:SelWoElem" name="SelWoElem">
    </wsdl:input>
      <wsdl:output message="tns:SelWoElemResponse" name="SelWoElemResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MOS195MIServiceSoapBinding" type="tns:MOS195MI">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SelWoElem">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="SelWoElem">
        <soap:body use="literal"/>
      <header message="tns:LwsHeaderMessage" part="LwsHeader" use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/></wsdl:input>
      <wsdl:output name="SelWoElemResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MOS195MIService">
    <wsdl:port binding="tns:MOS195MIServiceSoapBinding" name="MOS195MIPort">
      <soap:address location="http://erp-m3.tica.toyota-industries.com.au:21007/mws-ws/services/MOS195MI"/>
    </wsdl:port>
  </wsdl:service>
<message name="LwsHeaderMessage" xmlns="http://schemas.xmlsoap.org/wsdl/"><part element="lws:lws" name="LwsHeader"/></message></wsdl:definitions>