retriever/src/main/resources/retriever.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
xmlns:apachesoap="http://xml.apache.org/xml-soap"
xmlns:tns="https://test.retriever.com.au/barking"
xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
targetNamespace="https://test.retriever.com.au/barking">
<wsdl:types>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
targetNamespace="https://test.retriever.com.au/barking">

      <element name="createJob">
        <complexType>
          <sequence>
            <element name="job" type="tns:Job" />
          </sequence>
        </complexType>
      </element>	
      <element name="createJobResponse">
        <complexType>
          <sequence>
            <element name="result" type="tns:Result" />
          </sequence>
        </complexType>
      </element>
      
      <element name="exportStatusUpdates">
        <complexType>
          <sequence>
            <element name="statusUpdate" type="tns:StatusUpdate" />
          </sequence>
        </complexType>
      </element>
      <element name="exportStatusUpdatesResponse">
        <complexType>
          <sequence>
            <element name="result" type="tns:ResultExportStatusUpdates" />
          </sequence>
        </complexType>
      </element>      
      
      <element name="exportJobs">
        <complexType>
          <sequence>
            <element name="job" type="tns:ExportJob" />
          </sequence>
        </complexType>
      </element>
      <element name="exportJobsResponse">
        <complexType>
          <sequence>
            <element name="result" type="tns:ResultExportJobs" />
          </sequence>
        </complexType>
      </element>
      
            
	
      <complexType name="Job">
        <sequence>
          <element name="jobId" type="xsd:string" />
          <element name="phaseId" type="xsd:integer" minOccurs="0" />
          <element name="employer" type="xsd:string" minOccurs="0" />
          <element name="subEmployer" type="xsd:string" minOccurs="0" />
          <element name="techId" type="xsd:string" minOccurs="0" />
          <element name="customerName" type="xsd:string" />
          <element name="custId" type="xsd:string" minOccurs="0"/>
          <element name="address1" type="xsd:string" />
          <element name="address2" type="xsd:string" minOccurs="0" />
          <element name="suburb" type="xsd:string" minOccurs="0" />
          <element name="postCode" type="xsd:string" minOccurs="0"/>
          <element name="serialNo" type="xsd:string" minOccurs="0" />
          <element name="contactName" type="xsd:string" minOccurs="0" />
          <element name="contactPhone" type="xsd:string" minOccurs="0" />
          <element name="jobDesc" type="xsd:string" />
          <element name="startDate" type="xsd:dateTime" minOccurs="0" />
          <element name="duration" type="xsd:string" minOccurs="0" />
		  <element name="plannedStart" type="xsd:dateTime" minOccurs="0" />
		  <element name="plannedEnd" type="xsd:dateTime" minOccurs="0" />
          <element name="jobType" type="xsd:string" minOccurs="0" />
          <element name="customerEmail" type="xsd:string" minOccurs="0" />
          <element name="priority" type="xsd:boolean" minOccurs="0" />
          <element name="slaPriority" type="xsd:string" minOccurs="0" />
          <element name="officeNote" type="xsd:string" minOccurs="0" />
          <element name="accountMgrEmail" type="xsd:string" minOccurs="0" />
          <element name="serviceMgrEmail" type="xsd:string" minOccurs="0" />
          <element name="assets" type="tns:JobAsset" minOccurs="0" maxOccurs="unbounded" />
          <element name="services" type="tns:JobService" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
      </complexType>
      	
	<complexType name="JobAsset">
		<sequence>
			<element name="serialNo" type="xsd:string" />
			<element name="description" type="xsd:string" minOccurs="0" />
			<element name="assetType" type="xsd:string" />
			<element name="serviceLevel" type="xsd:string" minOccurs="0" />
			<element name="modelNumber" type="xsd:string" minOccurs="0" />
			<element name="location" type="xsd:string" minOccurs="0" />
			<element name="buildingName" type="xsd:string" minOccurs="0" />
			<element name="installDate" type="xsd:dateTime" minOccurs="0" />
			<element name="make" type="xsd:string" minOccurs="0" />
			<element name="orderId" type="xsd:integer" minOccurs="0" />
			<element name="notes" type="xsd:string" minOccurs="0" />
			<element name="isMandatory" type="xsd:boolean" minOccurs="0" />
		</sequence>
	</complexType>	
	
	<complexType name="JobService">
		<sequence>
			<element name="serviceId" type="xsd:string" />
			<element name="serviceName" type="xsd:string" />
			<element name="serviceDescription" type="xsd:string" />
			<element name="serviceType" type="xsd:string" />
			<element name="serviceOrderId" type="xsd:integer" />
		</sequence>
	</complexType>
	
      <complexType name="Result">
        <sequence>
          <element name="success" type="xsd:boolean" />
          <element name="txId" type="xsd:string" />
          <element name="errorCode" type="xsd:integer" />
          <element name="errorMsg" type="xsd:string" />
        </sequence>
      </complexType>
      
      <complexType name="StatusUpdate">
        <sequence>
          <element name="timeout" type="xsd:string" minOccurs="0" />
          <element name="updatedSince" type="xsd:string" minOccurs="0" />
          <element name="export" type="xsd:boolean" />
          <element name="max" type="xsd:integer" minOccurs="0" />
          <element name="transactionId" type="xsd:string" minOccurs="0" />
          <element name="maxProcessingTime" type="xsd:integer" minOccurs="0" />
        </sequence>
      </complexType>      
      
      <complexType name="ResultExportStatusUpdates">
        <sequence>
          <element name="success" type="xsd:boolean" />
          <element name="errorCode" type="xsd:integer" />
          <element name="errorMsg" type="xsd:string" />
          <element name="txId" type="xsd:string" />
          <element name="eStatusUpdate" type="tns:EStatus" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
      </complexType>
      
      <complexType name="EStatus">
        <sequence>
          <element name="jobId" type="xsd:string" />
          <element name="phaseId" type="xsd:integer" />
          <element name="techId" type="xsd:string" />
          <element name="statusId" type="xsd:integer" />
          <element name="statusDate" type="xsd:string" />
          <element name="statusTime" type="xsd:string" />
          <element name="rejectReason" type="xsd:string" />
          <element name="statusDesc" type="xsd:string" />
        </sequence>
      </complexType>
      
      <complexType name="ExportJob">
        <sequence>
          <element name="timeout" type="xsd:string" minOccurs="0" />
          <element name="updatedSince" type="xsd:string" minOccurs="0" />
          <element name="export" type="xsd:boolean" />
          <element name="max" type="xsd:integer" minOccurs="0" />
          <element name="transactionId" type="xsd:string" minOccurs="0" />
          <element name="maxProcessingTime" type="xsd:integer" minOccurs="0" />
          <element name="jobId" type="xsd:string" minOccurs="0" />
        </sequence>
      </complexType>      
      
      <complexType name="ResultExportJobs">
        <sequence>
          <element name="success" type="xsd:boolean" />
          <element name="errorCode" type="xsd:integer" />
          <element name="errorMsg" type="xsd:string" />
          <element name="txId" type="xsd:string" />
          <element name="eJob" type="tns:EJob" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
      </complexType>
      
      <complexType name="EJob">
        <sequence>
          <element name="jobId" type="xsd:string" />
          <element name="phaseId" type="xsd:integer" />
          <element name="techId" type="xsd:string" />
          <element name="workDone" type="xsd:string" />
          <element name="workRecommend" type="xsd:string" />
          <element name="comments" type="xsd:string" />
          <element name="officeNotes" type="xsd:string" />
          <element name="jobDatetime" type="xsd:dateTime" />
          <element name="signatureName" type="xsd:string" />
          <element name="jobStatus" type="xsd:integer" minOccurs="0" />
          <element name="customerName" type="xsd:string" />
          <element name="custId" type="xsd:string" minOccurs="0" />
          <element name="address1" type="xsd:string" />
          <element name="address2" type="xsd:string" />
          <element name="suburb" type="xsd:string" />
          <element name="postCode" type="xsd:string" />
          <element name="contact" type="xsd:string" />
          <element name="phone" type="xsd:string" />
          <element name="jobDesc" type="xsd:string" />
          <element name="createDatetime" type="xsd:dateTime" minOccurs="0" />
          <element name="techName" type="xsd:string" />
          <element name="amountOwing" type="xsd:double" minOccurs="0" />
          <element name="serialNo" type="xsd:string" />
          <element name="jobType" type="xsd:string" />
          <element name="email" type="xsd:string" />
          <element name="firstOhsCompleted" type="xsd:boolean" />
          <element name="accountMgrEmail" type="xsd:string" />
          <element name="serviceMgrEmail" type="xsd:string" />
          <element name="eOhs" type="tns:EOhs" minOccurs="0" maxOccurs="unbounded" />
          <element name="eNewAsset" type="tns:ENewAsset" minOccurs="0" maxOccurs="unbounded" />
          <element name="eService" type="tns:EService" minOccurs="0" maxOccurs="unbounded" />
          <element name="ePart" type="tns:EPart" minOccurs="0" maxOccurs="unbounded" />
          <element name="eSignature" type="tns:ESignature" minOccurs="0" maxOccurs="unbounded" />
          <element name="eChecklist" type="tns:EChecklist" minOccurs="0" maxOccurs="unbounded" />
          <element name="eTime" type="tns:ETime" minOccurs="0" maxOccurs="unbounded" />
          <element name="eAllowance" type="tns:EAllowance" minOccurs="0" maxOccurs="unbounded" />
          <element name="ePurchaseOrder" type="tns:EPurchaseOrder" minOccurs="0" maxOccurs="unbounded" />
          <element name="eReport" type="tns:EReport" minOccurs="0" maxOccurs="unbounded" />
          <element name="paymentOption" type="xsd:string" minOccurs="0" />
          <element name="cardType" type="xsd:string" minOccurs="0" />
          <element name="cardNo" type="xsd:string" minOccurs="0" />
          <element name="cardExpiry" type="xsd:string" minOccurs="0" />
          <element name="referenceNo" type="xsd:string" minOccurs="0" />
          <element name="eAttachment" type="tns:EAttachment" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
      </complexType>
      
      <complexType name="EOhs">
        <sequence>
          <element name="ohsType" type="xsd:string" />
          <element name="category" type="xsd:string" />
          <element name="questionNo" type="xsd:string" />
          <element name="questionOrderNo" type="xsd:integer" minOccurs="0" />
          <element name="questionText" type="xsd:string" />
          <element name="questionAnswer" type="xsd:string" />
          <element name="questionComment" type="xsd:string" />
          <element name="questionRisks" type="xsd:string" />
          <element name="questionHazards" type="xsd:string" />
          <element name="ohsStartDate" type="xsd:dateTime" minOccurs="0" />
        </sequence>
      </complexType>
      
      <complexType name="EService">
      	<sequence>
          	<element name="serviceId" type="xsd:string" />
          	<element name="serviceName" type="xsd:string" />
          	<element name="serviceDescription" type="xsd:string" />
          	<element name="serviceType" type="xsd:string" />
          	<element name="clientId" type="xsd:string" />
        </sequence>
      </complexType>      
      
      <complexType name="ENewAsset">
        <sequence>
          <element name="serialNo" type="xsd:string" />
          <element name="serialDesc" type="xsd:string" />
          <element name="serviceLevel" type="xsd:string" />
          <element name="modelNumber" type="xsd:string" />
          <element name="assetType" type="xsd:string" />
          <element name="location" type="xsd:string" />
          <element name="buildingName" type="xsd:string" />
          <element name="installDate" type="xsd:dateTime" minOccurs="0" />
          <element name="make" type="xsd:string" />
          <element name="assetStatus" type="xsd:string" />
          <element name="notes" type="xsd:string" />
          <element name="fieldCreated" type="xsd:boolean" />
          <element name="isMandatory" type="xsd:boolean" minOccurs="0" />
		  <element name="finalisedDT" type="xsd:dateTime" minOccurs="0" />
        </sequence>
      </complexType>
      
      <complexType name="EPart">
        <sequence>
          <element name="partId" type="xsd:string" />
          <element name="partDesc" type="xsd:string" />
          <element name="partQty" type="xsd:double" />
          <element name="unitPrice" type="xsd:string" minOccurs="0" />
          <element name="poNumber" type="xsd:string" />
          <element name="createDatetime" type="xsd:dateTime" minOccurs="0" />
          <element name="invLocId" type="xsd:string" />
        </sequence>
      </complexType>
      
      <complexType name="EAllowance">
        <sequence>
          <element name="allowanceType" type="xsd:string" />
          <element name="allowanceDesc" type="xsd:string" />
          <element name="allowanceUom" type="xsd:string" />
          <element name="allowanceValue" type="xsd:double" />
          <element name="createDatetime" type="xsd:dateTime" minOccurs="0" />
          <element name="allowanceID" type="xsd:string" />
        </sequence>
      </complexType>
      
      <complexType name="EPurchaseOrder">
        <sequence>
          <element name="poNumber" type="xsd:string" />
          <element name="poDesc" type="xsd:string" />
          <element name="poValue" type="xsd:double" minOccurs="0" />
          <element name="poPhoto" type="xsd:string" />
        </sequence>
      </complexType>
      
      <complexType name="EAttachment">
        <sequence>
          <element name="attachmentFileName" type="xsd:string" />
          <element name="attachment" type="xsd:string" />
          <element name="attachmentComments" type="xsd:string" minOccurs="0" />
        </sequence>
      </complexType>
      
      <complexType name="EReport">
        <sequence>
          <element name="reportName" type="xsd:string" />
          <element name="reportData" type="xsd:string" />
        </sequence>
      </complexType>
      
      <complexType name="ESignature">
        <sequence>
          <element name="signature" type="xsd:string" />
          <element name="signatureName" type="xsd:string" />
          <element name="signatureType" type="xsd:string" />
        </sequence>
      </complexType>
      
      <complexType name="EChecklist">
        <sequence>
          <element name="checklistId" type="xsd:string" />
          <element name="checklistText" type="xsd:string" />
          <element name="dateCompleted" type="xsd:dateTime" />
          <element name="serialDesc" type="xsd:string" />
          <element name="eChecklistCategory" type="tns:EChecklistCategory" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
      </complexType>
      
      <complexType name="EChecklistCategory">
        <sequence>
          <element name="categoryId" type="xsd:string" />
          <element name="categoryText" type="xsd:string" />
          <element name="orderId" type="xsd:string" />
          <element name="eChecklistItem" type="tns:EChecklistItem" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
      </complexType>
      
      <complexType name="EChecklistItem">
        <sequence>
          <element name="checked" type="xsd:string" />
          <element name="itemText" type="xsd:string" />
          <element name="checklistAnswer" type="xsd:string" />
          <element name="checklistComment" type="xsd:string" />
        </sequence>
      </complexType>
      
      <complexType name="ETime">
        <sequence>
          <element name="labType" type="xsd:string" />
          <element name="labQty" type="xsd:double" />
          <element name="labQtyOt" type="xsd:double" />
          <element name="labQtyDt" type="xsd:double" />
          <element name="travelQty" type="xsd:double" minOccurs="0" />
          <element name="statusTime" type="xsd:string" />
          <element name="normalRate" type="xsd:double" minOccurs="0" />
          <element name="otRate" type="xsd:double" minOccurs="0" />
          <element name="dtRate" type="xsd:double" minOccurs="0" />
          <element name="travelRate" type="xsd:double" minOccurs="0" />
          <element name="fieldWorker" type="xsd:string" />
          <element name="endDatetime" type="xsd:dateTime" minOccurs="0" />
          <element name="startDatetime" type="xsd:dateTime" minOccurs="0" />
          <element name="apprenticeId" type="xsd:string" minOccurs="0" />
        </sequence>
      </complexType>                                                 
	
</schema>
</wsdl:types>

	<wsdl:message name="createJobResponse">
		<wsdl:part name="createJobResponse" element="tns:createJobResponse" />
	</wsdl:message>
	<wsdl:message name="createJob">
		<wsdl:part name="createJob" element="tns:createJob" />
	</wsdl:message>
	
	<wsdl:message name="exportStatusUpdates">
	  <wsdl:part name="exportStatusUpdates" element="tns:exportStatusUpdates" />
	</wsdl:message>
	<wsdl:message name="exportStatusUpdatesResponse">
	  <wsdl:part name="exportStatusUpdatesResponse" element="tns:exportStatusUpdatesResponse" />
	</wsdl:message>

  <wsdl:message name="exportJobs">
    <wsdl:part name="exportJobs" element="tns:exportJobs" />
  </wsdl:message>
  <wsdl:message name="exportJobsResponse">
    <wsdl:part name="exportJobsResponse" element="tns:exportJobsResponse" />
  </wsdl:message>


<wsdl:portType name="RetrieverBarking">

	<wsdl:operation name="createJob">
		<wsdl:input message="tns:createJob"
		name="createJobRequest" />
		<wsdl:output message="tns:createJobResponse"
		name="createJobResponse" />
	</wsdl:operation>
	
    <wsdl:operation name="exportStatusUpdates">
      <wsdl:input message="tns:exportStatusUpdates"
        name="exportStatusUpdatesRequest" />
      <wsdl:output message="tns:exportStatusUpdatesResponse"
        name="exportStatusUpdatesResponse" />
    </wsdl:operation>
    
    <wsdl:operation name="exportJobs">
      <wsdl:input message="tns:exportJobs"
        name="exportJobsRequest" />
      <wsdl:output message="tns:exportJobsResponse"
        name="exportJobsResponse" />
    </wsdl:operation>    
    	
</wsdl:portType>

<wsdl:binding name="RetrieverBarkingBinding"
type="tns:RetrieverBarking">
	<wsdlsoap:binding style="document"
	transport="http://schemas.xmlsoap.org/soap/http" />
	
	<wsdl:operation name="createJob">
		<wsdlsoap:operation soapAction="" />
		<wsdl:input name="createJobRequest">
			<wsdlsoap:body use="literal" />
		</wsdl:input>
		<wsdl:output name="createJobResponse">
			<wsdlsoap:body use="literal" />
		</wsdl:output>
	</wsdl:operation>
	
    <wsdl:operation name="exportStatusUpdates">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="exportStatusUpdatesRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="exportStatusUpdatesResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="exportJobs">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="exportJobsRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="exportJobsResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>    
	
</wsdl:binding>

<wsdl:service name="RetrieverBarkingService">
	<wsdl:port binding="tns:RetrieverBarkingBinding"
	name="RetrieverBarkingPort">
		<wsdlsoap:address
		location="https://test.retriever.com.au/barking/integration/webservice?extsys=M3%20Sandpit" />
	</wsdl:port>
</wsdl:service>
</wsdl:definitions>	